<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    Your account credentials: account ID, user name, and API key.
    -->
    <add key="SoftLayer.Messaging.AccountID" value=""/>
    <add key="SoftLayer.Messaging.UserName" value=""/>
    <add key="SoftLayer.Messaging.APIKey" value=""/>
    
    <!--
    The datacenter where your Message Queue account is based in.
	 Should correspond to a datacenter name in SoftLayer.Messaging.Endpoints.xml,
	 and the datacenter you chose when ordering Message Queue service.
    -->
    <add key="SoftLayer.Messaging.DataCenter" value="DAL05"/>

    <!--
    Use the private network endpoint if running within a SoftLayer datacenter
    where the Message Queue service is offered.
      0 = Disable, use public endpoint
      1 = Enable, use private endpoint
    -->
    <add key="SoftLayer.Messaging.PrivateEndpoint" value="0"/>
  </appSettings>
</configuration>
